@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "h h h h"
    "m m m m"
    "f f f f"
    "r r r r"
    ;
}

header {
    grid-area: h;
    background-color: #273238;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


header > .menu > i{
    color: white;
    font-size: 3rem;
}

header > p {
    font-size: 3rem;
    color: white;
}

header > i {
    color: white;
    font-size: 2.5rem;
}
  
main {
    grid-area: m;
    background-image: url;
    background-color: #36474F;
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    
}

.cards > p {
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    display: flex;
}


.linhas {
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 35px;
    align-items: center;
    row-gap: 20px;
}


.linhas > div {
    z-index: 1;
    position: relative;
    min-width: 22%;
}

.linhas > div > img {
    width: 100%;
}
.info {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #959595 100%);
    position: absolute;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    column-gap: 20px;
    height: 80px;
    width: 100%;
    z-index: 2;
    display: none;
}

.linhas > div:hover .info {
    display: flex;
}

.info > a {
    color: white;
}


footer {
    grid-area:  f;
    background-color:#273238;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap;
}

footer > ul {
    list-style: none;
    color: white;
}


.destaque {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 10px;

}

.btnssc {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.btn-contato { 
    color: white;
    background-color: #8A0000;
    padding: 10px 60px;
    border-radius: 10px;
    font-size: 1rem;
}

.btn-contato:hover {
    background-color:#0E9FCB;
}

.sociais {
    display: flex;
    column-gap: 20px;
}

.sociais > i {
    font-size: 2rem;
    color: white;
}

.direitos {
    grid-area: r;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #1c2429;
    color: white;
    min-width: 500px;
    padding: 20px;
}


@media (max-width:470px) {

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

}
