@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:880px auto auto;
    grid-template-areas: 
    "m"
    "f"
    "r"
    ;
}

main {
    grid-area: m;
    background-image: url(imagens/netiflix.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}



form {
    display: flex;
    flex-direction: column;
}

form > label {
    color: white;
    padding: 10px;
}

.entrar > form {
    margin-bottom: 60px;
}

.entrar {
    background-color: #232527;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.entrar::before{
    content: "";
    background-image: url(imagens/logo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top: -80px;
    position: relative;
    width: 300px;
    height: 110px;
}

.entrar > p {
    color: white;
    font-size: 2rem;
    font-family: 'Suez One';
}

.mensagem {
    color: white;
}

form > .ent > input[type="submit"]{
    color: white;
    background-color: #232527;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px 54px;
    font-size: 24px;
    cursor: pointer;
    margin: 0 auto;
}

form > input {
    min-width: 300px;
    min-height: 35px;
}
.ent {
    padding: 10px 70px;
}


footer {
    background-color: #36474f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap;
}

footer > ul {
    list-style: none;
    color: white;
}


.destaque {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 10px;

}

.fdireita {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

}

.fdireita > input { 
    color: white;
    background-color: #8A0000;
    padding: 10px 60px;
    border-radius: 10px;
    font-size: 1rem;
}

.fdireita > input:hover {
    background-color:#0E9FCB;
}

.sociais {
    display: flex;
    column-gap: 20px;
}

.sociais > i {
    font-size: 2rem;
    color: white;
}

.direitos {
    grid-area: r;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #273238;
    color: white;
    min-width: 500px;
    padding: 20px;
}

